*.o
*.a
Makefile
.deps
*.ps
*.1
*.5
*.7
*.zmt
*.zmr
*.gz
*.html
Makefile.in
aclocal.m4
/config*
/doc/stamp.*
/slate
/graphs/*
/autom4te.cache
/src/shmx/mcx
/src/shmx/mcxsubs
/src/shmx/mcxmap
/src/shmx/mcxassemble
/src/shmx/mcxarray
/src/shmx/mcxdump
/src/shmx/mcxload
/src/shmx/mcxrand
/src/shmx/mcxtest2
/src/shmx/mcxtest
/src/shmx/fake
/src/shmx/mcxminusmeet
/src/shmx/mcxmm
/src/shmx/mcxmetric
/src/impala/version.c
/src/shmcl/mcl
/src/shmcl/mclcm
/src/shcl/mclgrep
/src/shcl/mclpipeline
/src/shcl/mclgraga
/src/shcl/clmformat
/src/shcl/clm
/src/shcl/clmdag
/src/shcl/clmframe
/src/shmcx/mcxi
/src/shmcxquery/mcxquery
/VERSION
